{{ define "css" }}
<link rel="stylesheet" href="/static/css/landing.css">
{{ end }}

{{ define "content" }}
<div class="landing-body container">
    <div class="input-container">
        <h1 class="title">Create or Select Sandbox</h1>
        <form id="namespaceForm">
            <input 
                type="text" 
                id="namespaceInput"
                class="namespace-input"
                placeholder="Enter namespace name"
                autocomplete="off"
                required
            >
            <div id="errorMessage" class="error-message"></div>
            <button type="submit" class="submit-button">Create Sandbox 📦</button>
        </form>
        
        <div class="namespace-list">
            <h2>Existing Sandboxes</h2>
            <div id="namespacesList"></div>
        </div>
    </div>
</div>
{{ end }}

{{ define "javascript" }}
<script src="/static/js/landing.js"></script>
{{ end }}