<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terminal</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/xterm/5.5.0/xterm.min.css">
    <style>
        html, body {
            margin: 0;
            padding: 0;
            height: 100%;
            background-color: #000;
        }
        #terminal {
            width: 100%;
            height: 100%;
            padding: 10px;
            box-sizing: border-box;
        }
    </style>
</head>
<body>
    <div id="terminal"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xterm/5.5.0/xterm.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const terminal = new Terminal();
            terminal.open(document.getElementById('terminal'));

            let socket = null;

            function setupSocket() {
                socket = new WebSocket(`ws://${window.location.host}/terminal/{{ .Namespace }}/{{ .PodName }}`);

                socket.onopen = () => {
                    terminal.write("\r\n*** Connection Established to {{ .PodName }} ***\r\n");
                };

                socket.onmessage = (event) => {
                    terminal.write(event.data);
                };

                socket.onclose = () => {
                    terminal.write("\r\n*** Connection Closed ***\r\n");
                    socket = null;
                };

                socket.onerror = (error) => {
                    terminal.write("\r\n*** WebSocket Error Occurred ***\r\n");
                };
            }

            setupSocket();

            terminal.onData((data) => {
                if (socket && socket.readyState === WebSocket.OPEN) {
                    socket.send(data);
                } else {
                    terminal.write("\r\n*** WebSocket connection is not active ***\r\n");
                }
            });
        });
    </script>
</body>
</html>
